*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{

    background-color: rgb(138, 43, 226);
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30vh auto;
}
#title{

        font-size: 2.5em;
        padding:5vh 0;
        color:rgb(223, 217, 217);
}

input{
        padding:2vh 6vw;
        font-size: 2em;
        text-align: center;
}

#output{

        color:white;
        font-size: 2em;
        margin:5vh 0;
}

.btn{

        margin:3vh 0;
        padding:2vh 3vw;
        border:2px solid blueviolet;
}
.btn:hover{

        background:rgb(155, 128, 180);
        
       
}